{{>header}}

{{#if hayerror}}
    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Espera!</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {{/if}}
{{else}}
    {{#if error}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Excelente!</strong> {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {{/if}}
{{/if}}


<form action="/inscribirme" method="POST" class="ml-5 mr-5">
    <div class="container">
        <h2>Seleecione el curso al que desea inscribirse</h2>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select name="curso" class="custom-select" required value={{asp.curso}}>
                        <option value="" disabled selected>Seleccione un curso</option>   
                        {{#each cursos}}
                            <option value={{this.id}}>{{this.nombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Inscribir</button>
    </div>
</form>

{{>footer}}