{{>header}}

{{#if hayerror}}
    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Espera!</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {{/if}}
{{/if}}


<form action="/registro" method="POST" class="ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="number" class="form-control" required name="documento" placeholder="Documento de indentidad" value={{usuario.documento}}>
                </div>
            </div>
            <div class="col">
                <div class="form-group ">
                    <input type="text" class="form-control" name="nombre" required placeholder="Nombre" value={{usuario.nombre}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="email" class="form-control" required name="correo" placeholder="Correo electrónico" value={{usuario.correo}}>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="number" class="form-control" required name="telefono" placeholder="Teléfono" value={{usuario.telefono}}>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="password" class="form-control" required name="password" placeholder="Contraseña">
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Registrarse</button>
    </div>
</form>

{{>footer}}