{{>header}}

{{#if mensaje}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
<strong>{{mensaje}}</strong> 
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{{/if}}

<div class="accordion" id="accordionExample">
    {{#each cursos as |curso|}}
        <div class="card">
            <div class="card-header text-center" id="heading-{{curso.id}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{curso.id}}" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Nombre: </strong> {{curso.nombre}} <br>
                    <strong>Descripción: </strong> {{curso.descripcion}} <br>
                    <strong>Valor: </strong> {{curso.valor}} 
                </button>
            </h2>
            </div>
            <div id="collapse-{{curso.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Documento</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each curso.inscritos as |inscrito|}}
                                <tr>
                                    <th>{{@index}}</th>
                                    <th>{{inscrito.documento}}</th>
                                    <th>{{inscrito.nombre}}</th>
                                    <th>{{inscrito.correo}}</th>
                                    <th>{{inscrito.telefono}}</th>
                                    
                                </tr>
                            {{else}}
                                <h2>No hay aspirantes inscritos
                                </h2>
                            {{/each}}
                            
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-warning" role="button" href="/ver-inscritos?id={{curso.id}}">Cerrar curso</a>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <h2>No hay cursos disponibles</h2>
    {{/each}}
</div>



{{>footer}}